html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  }

  *, *::before, *::after {
  	box-sizing: inherit;
  }
}
*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  overflow: hidden;
  position: relative;
}

.img-flex {
  width: 100%;
}

.circle {

}

.body {

}

.btn {
  color: #fff;
  background-color: #000;
  font-size: 1.5rem;
  display: inline-block;
  padding: .5em;
  border: 1px solid;
  border-color: #000;
  border-radius: 8px;
}

.btn:hover {
  background-color: #333;
}
